.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    height: 75%;
}

.card.card {
    background-color: rgb(32, 32, 32);
}

.chatlists {
    overflow-x: hidden;
}

@media (max-width: 768px) { 
    .container { 
        height: 95%; 
    } 
}