.close {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    /* color: rgb(121, 121, 121); */
    color: #f5f5f5;
    outline: none;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}

.close:hover {
    color: #dddddd;
}

@media (max-width: 1440px) {
    .close {
        font-size: 1.5rem;
    }
}