@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
}